<!doctype html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('partials/navbar.ejs') %>

        <div class="outsideContainer">
            <div class="container">
                <h1>Welcome to Poker</h1>
                <% if (!userLoggedIn) { %>
                <p>Login or register to join a game.</p>
                <% } %>
            </div>
        </div>
    </body>
</html>
