<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game Lobby</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div class="outsideContainer">
            <div class="container">
                <h1>Game Main Menu</h1>
                <div class="lobby">
                    <h2>Create New Game</h2>
                    <form action="/lobby/create" method="POST">
                        <div>
                            <label for="lobby-name">Lobby Name:</label>
                            <input
                                type="text"
                                id="lobby-name"
                                name="name"
                                required
                            />
                        </div>
                        <div>
                            <label for="max-players">Max Players:</label>
                            <input
                                type="number"
                                id="max-players"
                                name="maxPlayers"
                                value="4"
                                max="4"
                            />
                        </div>
                        <button type="submit">Create Game</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
